@import 'styles/_tokens.scss';

body{
  font-smooth: always;
}

.logo{
  align-items: center;
  display: flex;
  margin-bottom: $size-margin-2-xl;
}

.addie{
  border-radius: 50%;
  height: $size-lg*2;
  margin-right: $size-margin-md;
  width: $size-lg*2;
}

.sidebar{
  background: $color-grey-10;

  .ant-layout-sider{
    border-right: 1px solid $color-background-border-outline;
    background: $color-grey-10;
    padding: $size-padding-2-xl;
  }
}

.sidenav{
  list-style: none;
  padding: 0;
  
  > li {
    color: $color-grey-80;
    font-weight: bold;
    margin-bottom: $size-margin-xl;
    padding: $size-padding-xs 0;
    letter-spacing: -0.4px;
    text-transform: uppercase;

    span{
      display: block;
      padding: $size-padding-xs 0;
    }
  }

  ul{
    list-style: none;
    padding: 0;
  }
    ul > li {
    text-transform: none;
    font-weight: $font-weight-medium;

    a {
      color: $color-grey-60;
      display: block;
      padding: $size-padding-xs 0;
    }

    a:hover{
      color: $color-text-action-primary !important;
    }
    }
}

.component-content, .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{
  background: $color-background-primary;
  width: 100%;
}

// Responsive elements
@media only screen and (max-device-width : 768px) {
  .sidebar{
  
    .ant-layout-sider{
      padding: 0;
    }

    nav{
      padding: $size-padding-2-xl;
    }
  }

  .component-content, .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{
    width: 100%;
  }
}