@import '../../../../scales-library/src/lib/styles/tokens';

// Tags

.tag {
  background: $color-blue-5;
  color: $color-blue-80;
  border-radius: $size-2-xs;
  font-size: $font-text-xs;
  font-weight: $font-weight-semibold;
  padding: 3px 8px;
  text-transform: uppercase;

  span {
    font-weight: $font-weight-regular;
  }

  &.neutral {
    background: $color-grey-20;
    color: $color-grey-80;
  }
}


.quick-actions {
  display: inline-block;

  button[nzType='text'] {
    color: $color-grey-50;
    margin-right: $size-margin-xs;
  }
}

.tag {
  margin-right: $size-margin-xs;
}
