<div nz-row><div class="playroom" nz-col nzSpan="24">Scales Playroom</div></div>
<div class="container">
  <div class="menu-container">
    <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="NZ Components" nzIcon="appstore" nzOpen>
        <ul>
          <li nz-menu-item routerLink="button">Button</li>
          <li nz-menu-item routerLink="select">Select</li>
          <li nz-menu-item routerLink="input">Input</li>
          <li nz-menu-item routerLink="table">Checkbox</li>
          <li nz-menu-item routerLink="table">Tags</li>
          <li nz-menu-item routerLink="table">Table</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="JA Components" nzIcon="appstore" nzOpen>
        <ul>
          <li nz-menu-item>SearchBox</li>
          <li nz-menu-item>File Uploader</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="sandbox-container">
    <router-outlet></router-outlet>
  </div>
</div>
