/* You can add global styles to this file, and also import other style files */
@import '../../scales-library/src/lib/styles/tokens';

app-table-demo,
app-drawer-header-demo,
app-switch-demo {
  width: 100%;
}

// Tabs
#record-navigation-tab {
  margin-left: 24px;
  .ant-tabs-nav {
    margin-bottom: 0;
  }
}

// Switch Toggle
nz-switch {
  margin-right: 8px;
}

.jaToggle {
  .ant-switch {
    min-width: 32px;
    height: 8px;
  }

  .ant-switch-checked {
    background-color: #cacfdb;
  }

  .ant-switch-handle {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 16px;
    height: 16px;
    transition: all 0.2s ease-in-out;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1971c2;
      border-radius: 9px;
      box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%);
      transition: all 0.2s ease-in-out;
      content: '';
    }
  }

  .ant-switch-checked .ant-switch-handle {
    left: calc(100% - 16px);
  }

  &:not(&-disabled):active {
    .ant-switch-handle::before {
      right: 0;
      left: 0;
    }

    &.ant-switch-checked {
      .ant-switch-handle::before {
        right: 0;
        left: 0%;
      }
    }
  }
}
